<a href="/employees">To Employees Index</a>
<a href="/bookstores/new">Add Bookstore</a>

<h1>All Bookstores</h1>

<% @stores.each do |store| %>
  <h3 style="display:inline;"><%= link_to "#{store.name}", "/bookstores/#{store.id}" %></h3>
  <p style="display:inline;">Created At: <%= store.created_at %></p>
  <%= link_to "Update Bookstore", "/bookstores/#{store.id}/edit" %> 
  <%= button_to "Delete Bookstore", "/bookstores/#{store.id}", method: :delete %><br><br>
<% end %>
